name: Déploiement Symfony

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Installer les dépendances
        run: |
          cd /var/www/symfony
          composer install --no-dev --optimize-autoloader

      - name: Mettre à jour la base de données
        run: |
          cd /var/www/symfony
          php bin/console doctrine:migrations:migrate --no-interaction
          php bin/console cache:clear

      - name: Redémarrer NGINX et PHP-FPM
        run: |
          sudo systemctl restart nginx
          sudo systemctl restart php8.4-fpm
